[2021-07-08 02:11] benbarsdell commented on #334
Sorry for the confusion, the patch works in NVRTC. I just wanted to note that it's not just clang that doesn't like the old code.

[2021-07-08 06:49] psychocoderHPC opened #343 "warning: pointless comparison of unsigned integer with zero"
As soon as `cub` (shipped with CUDA toolkit) headers are included in my mini reproducer nvcc throw the warning
`warning: pointless comparison of unsigned integer with zero`.
This example is simplified, in the original code `foo` is calculated at compile time based on user-provided values.
The compiler is right that `i < foo` is always `false`, and a useless check, but this expression should not be

[2021-07-08 07:00] psychocoderHPC commented on #343
The mini example is derived from [this compile-time loop in PIConGPU](
https://github.com/ComputationalRadiationPhysics/picongpu/blob/c71dbe451a12e1045685dec3a88eb6d1339ff405/include/pmacc/lockstep/ForEach.hpp#L140)

[2021-07-08 10:45] MatthiasKohl opened #344 "BlockReduce incorrect result / ignoring certain thread values"
I have an example where I noticed cub is giving wrong results.
On further investigation, it looks like the `BlockReduce::Sum` function from cub is "ignoring" values from certain threads, but it's a bit erratic.
Here is the gist, with an example with 64 threads / block and 33 threads holding non-zero values:
https://gist.github.com/MatthiasKohl/f84cfba617ec6edf6a21e9bbc69f57fe

I'm using Ubuntu 16.

[2021-07-08 11:13] senior-zero commented on #343
I can confirm this behaviour. CUB uses `<thrust/system/cuda/detail/core/triple_chevron_launch.h>` which includes `thrust/functional.h` -> `thrust/detail/functional/operators.h`  -> `thrust/detail/functional/operators/logical_operators.h` which contains:

[code]

So, your example can be actually simplified to:
[code]

I don't quite understand why the warning is triggered in this case, so we'll disc

[2021-07-08 12:11] psychocoderHPC commented on #343
Thanks, for me the workaround of including `#include <cub/block/block_radix_sort.cuh>` to use radix sort within a kernel works.

[2021-07-08 12:14] senior-zero commented on #344
Hello, @MatthiasKohl!

There are two issues in your gist. First of all, it should be

[code]

rather than:
[code]

You've created a thread-local copy of TempStorage, so threads of the same block couldn't communicate with each other using it. Using the reference fixes your case.

Apart from that, you [can't estimate](https://forums.developer.nvidia.com/t/how-can-one-determine-the-temp-storage-size-

[2021-07-08 12:14] #344 closed

[2021-07-08 15:43] allisonvacanti commented on #343
I suspect that the `operator&&` is forcing the arguments to be evaluated, breaking the "short circuit" behavior we'd normally expect here.

We can likely fix this by making the `operator&&` a hidden friend of `actor`. That way it won't leak into the global namespace.

[2021-07-08 15:43] MatthiasKohl commented on #344
Thanks for looking into this!
May I suggest adding an overload of the constructor for `BlockReduce` which works somehow nicely with dynamic shared memory?
It's a common use-case in order to re-use shared memory, but to me, it seems like it's not really made for this.

[2021-07-09 12:09] gonzalobg commented on #344
+1. That would allow just passing the pointer to shared memory. The current approach requires dereferencing the pointer just for the purpose of creating a reference to the value behind the pointer.

[2021-07-09 15:47] allisonvacanti commented on #344
Just to be clear -- this doesn't actually dereference the pointer or access any data, it just repackages the pointer as a reference.

I'm not sure I see the value of adding duplicate constructors here. If we added pointer overloads, they would still be strongly typed and you'd have to cast anyway. You'd just be casting to a `TempStorage*` instead of a `TempStorage&`.

[2021-07-09 17:22] MatthiasKohl commented on #344
Personally, casting to a `TempStorage&` feels wrong, since there isn't really an object you're referencing (this is *usually* the case with references).
This is why using the pointer feels more explicit and natural to me, but I can't speak for everyone, so I just wanted to let you know.

In any case, I think it would be great to have an example in the docs showing the use of dynamic shared memory

[2021-07-13 18:18] allisonvacanti commented on #344
Absolutely -- feel free to push a PR, I think this would be quite valuable to have.

[2021-07-13 18:51] nayakajay opened #345 "Question: __threadfence() inside loop to prevent hoisting"
I am trying to understand the code and trying to relate them with the comments.
I came across [WaitForValid](https://github.com/NVIDIA/cub/blob/main/cub/agent/single_pass_scan_operators.cuh#L425) __device__ function in ```agent/single_pass_scan_operators.cuh```.

I wanted to know why the fence is inside the ```do ... while();``` loop.
The comment suggests that this is to prevent hoisting loads fro

[2021-07-14 22:35] senior-zero commented on #345
Hello, @nayakajay!

Thank you for the interesting question. As I understand, hoisting is about [moving invariants out of the loops](https://compileroptimizations.com/category/hoisting.htm). Because `d_tile_status` isn't marked as volatile, in theory, the load can be hoisted. The volatile keyword in the inline PTX of `ThreadLoad` [doesn't prevent](https://docs.nvidia.com/cuda/inline-ptx-assembly/in

[2021-07-15 16:37] senior-zero commented on #345
I haven't considered that the volatile load and CG load produces different instructions. Volatile load produce `LDG.E.STRONG.SYS` while `cub::ThreadLoad<cub::LOAD_CG>` load produces `LD.E.CG`.
I've written [the code ](https://gist.github.com/senior-zero/1139726ea4850a65f15c9c228fc2a17d) that reproduces memory access patterns in the decoupled look back. It seems that the volatile and relaxed loads

[2021-07-15 16:37] #345 closed

[2021-07-16 06:20] nayakajay commented on #345
Thanks for the reply, I was wondering about code-hoisting. I can understand about compiler hoisting out loop invariants in the example showed in the link, but for a **multi-threaded** code, I thought it may not be the case. Maybe, I should look up into it a bit more.
I tried the code you shared and prepared a variant just to look at the generated SASS [here](https://gist.github.com/nayakajay/86d83

[2021-07-16 09:07] senior-zero commented on #345
That's right @nayakajay. The generated SASS instruction is marked as `STRONG` in all cases. The point was about it being marked as `.SYS` or `.GPU`. Here is an example of [this difference](https://cuda.godbolt.org/z/ec4cTcqra).

Regarding hoisting in multi-threaded code - you can check [this talk](https://youtu.be/VJ1QLrmfQws). There's an example of load hoisting on slide 35. It's a bit different

[2021-07-16 15:31] allisonvacanti commented on #343
Internal NVBug 3341536 may be related, which describes a compiler bug with the same behavior.

[2021-07-17 00:08] #327 closed

[2021-07-18 12:13] senior-zero commented on #327
Hello @YukeWang96! I'm currently working on a variable size radix sort for block scope which can work with arbitrary input size (even more than `ITEMS_PER_THREAD * BLOCK_THREADS`). Are you interested in this case or your input data size is always within `ITEMS_PER_THREAD * BLOCK_THREADS` limits?

[2021-07-22 18:50] allisonvacanti commented on #342
It was just pointed out in NVBug 200715408 that this will also WAR some issues related to templated kernels and shared libraries that result in corrupted cudart state. Bumping up the priority.

[2021-07-22 18:58] #334 closed

[2021-07-28 19:04] #283 closed

[2021-07-30 03:08] #133 closed

[2021-07-30 04:20] allisonvacanti commented on #280
It looks like there are a few things going on here...

The `gridDim.y` issue appears to have been resolved by 63e2ad4be6316c98db99b90f2d113096d6e96038. I consistently get `{1, 1, 1}` for the grid dimensions on the current `main` branch.

Once that was fixed, new errors were emitted from the issue described in #162. Applying #163 resolves that.

Looks like this can be closed once #163 is merged.

[2021-07-30 19:36] allisonvacanti commented on #280
FYI, I've edited the repro script to fix a bug:

[code]

⬇

[code]

(`row_offsets` must contain an extra element with the total number of non-zero elements)

[2021-07-30 21:02] #161 closed

[2021-07-30 21:02] #162 closed

[2021-07-30 21:02] #280 closed

[2021-07-30 21:39] allisonvacanti commented on #285
Just to close the loop on this -- we're going to continue supporting it. #352 fixes some bugs and adds tests.

[2021-07-30 21:44] allisonvacanti commented on #139
This will be fixed by #352.

[2021-08-02 12:28] benbarsdell opened #353 "DeviceRadixSort fails when begin_bit = end_bit = 0 (for large inputs)"
We had a painful issue in TensorFlow that turned out to be because we were passing `begin_bit = end_bit = 0` (all keys were zero in our case). CUB failed with "Invalid configuration error", and debugging was difficult because the failing kernel launch was not logged even with `debug_synchronous=true`.

Some isolated testing show that CUB succeeds and gives the correct answer for small inputs (i.e.

[2021-08-02 12:53] senior-zero commented on #353
Hello, @benbarsdell! Thank you for reporting this. As stated in the documentation, key bits should be different:

I think that's the reason there are no tests for this particular case:

[code]

As I understand, you expect something like cudaMemcpyAsync to be performed in this case. I think we could generalize API to this case at some point. Can you use some wrapper function until then?

[2021-08-03 02:49] benbarsdell commented on #353
Yes I've worked around it, so it's not blocking us.

I think it would be useful to generalize the API to support it. It's not actually clear to me that that docstring excludes this case, because it does not say that the subrange must be non-empty. We are calling it with `end_bit = Log2Ceiling(N)`, for integer keys in the range `[0, N)`, which results in `end_bit = 0` when `N = 1`.
There is also th

[2021-08-05 17:54] allisonvacanti opened #355 "Onesweep radix sort implementation should handle `debug_synchronous` logging"
The new onesweep radix sort implementation does not follow the convention of printing kernel launch metadata when the `debug_synchronous` flag is set.

This was reported as part of #353.

[2021-08-05 17:55] allisonvacanti commented on #353
This seems reasonable. We should handle the case where `begin_bit == end_bit` to simplify generic usecases and add tests for this.

I opened #355 to track the missing log output.

[2021-08-11 16:29] AKKamath opened #356 "Incorrect semantics in grid_barrier.cuh"
In "/cub/grid/grid_barrier.cuh" I noticed some incorrect semantics being used.
A flag "d_sync" is used to communicate between threadblocks and enforce syncing.
In lines 98 and 120, LOAD_CG operations are used to read from these variables, illustrated below.

[code]

From NVIDIA documentation:

The CG operation doesn't guarantee consistency.
Instead, these should be changed to volatile or atomic op

[2021-08-12 22:20] senior-zero commented on #356
Hello @AKKamath! Thank you for taking the time to report this.

[It's not the only place](https://github.com/NVIDIA/cub/issues/345) with misused cache operators semantic in CUB. We have plans to clean up this by integrating the relaxed/release/acquire qualifiers. In some cases, it might be beneficial from the performance point of view (removing fences from spin-loops).

I'm afraid that `atomicCAS`

[2021-08-13 12:37] AKKamath commented on #356
Yes, replacing these with relaxed/release/acquire seems like a good choice.

You're completely correct about atomicCAS, it completely erodes the point of the barrier.

Thank you for the atomicAdd recommendation.

[2021-08-17 16:06] #139 closed

[2021-08-17 16:06] #285 closed

[2021-08-17 18:08] allisonvacanti commented on #239
Added with #326.

[2021-08-17 18:08] #239 closed

[2021-08-18 16:13] mminutoli opened #360 "Compilation with cuda 10.1 fails"
https://github.com/NVIDIA/cub/blob/571aab900cc1d9741d93013ceaffe38d7e6e3b50/cmake/CubBuildCompilerTargets.cmake#L115

Hello folks,

using CUDA 10.1.* the compilation fails because the compiler does not recognize `--promote_warnings` as a valid compiler flag.

I believe something like the following should fix it. However, I don't know the exact version where that flag was introduced.
`
$<$<AND:$<CO

[2021-08-23 21:14] zasdfgbnm opened #361 "cub::DeviceSegmentedRadixSort have bad performance for small number of segments"
Currently, `cub::DeviceSegmentedRadixSort` launches `num_segments` blocks and each block works on one segment. This approach does not have good performance when the number of segments is small: https://github.com/pytorch/pytorch/issues/63456. For small number of segments, there should be a separate code path for it.

[2021-08-24 14:18] jrhemstad commented on #361
See if https://github.com/NVIDIA/cub/pull/357 resolves your issue

[2021-08-25 09:12] yboetz commented on #292
I use this snippet in my code to sort values in shared or global memory, with automatic padding:
[code]

That seems to work quite nicely, though there are two problems:
- You have to make sure that each thread owns enough elements, i.e. `BLOCK_THREADS * ITEMS_PER_THREAD >= numElements`. If you don't know the maximum number of elements you want to sort at compile time then this doesn't work.
- You

[2021-08-25 09:23] senior-zero commented on #292
Hello, @yboetz! In the [following PR](https://github.com/NVIDIA/cub/pull/357), I've introduced a new agent for sorting variable-length arrays in the block scope. It performs radix-based sort just like the one we use in segmented sorting. Here's the [usage example](https://github.com/senior-zero/cub/blob/d89ef44e6e14ef1f769fa81fff54b826a5d92465/cub/device/dispatch/dispatch_segmented_sort.cuh#L107-L

[2021-08-25 09:27] senior-zero commented on #292
If that suits your needs, we could expose this algorithm as a block-scope facility (something like `cub::BlockSort`).

[2021-08-25 09:52] yboetz commented on #292
I don't quite follow the example, but what you describe is exactly what I was thinking :). I quite like the block-scope facilities of CUB, but they are sometimes a bit limiting as you need to provide the number of elements at compile time. So it would be quite useful if you could expose an overload of `cub::BlockSort` that can handle arrays of arbitrary length.

[2021-09-02 23:36] senior-zero opened #367 "Ignore last element in exclusive scan"
The `AgentScan` structure doesn't distinguish between inclusive and exclusive variants at the load stage. Therefore, current version of the `cub::DeviceScan::ExclusiveScan` requires `num_items` items in the `input` data. According to the algorithm description, the last item doesn't affect the result.

[code]

It's not unusual to convert counters into offsets. To use `cub::DeviceScan::ExclusiveScan

[2021-09-03 12:05] pkufool opened #368 "cub::DeviceSegmentedReduce::Reduce error"
I found an error when using `cub::DeviceSegmentedReduce::Reduce`, see the code below:
[code]
I upload the bad case to (https://drive.google.com/drive/folders/1Bm4BHFzniAxCcnqHFPE3S3bccrriaJg5?usp=sharing), the value_data is the array in **values.txt** the row_splits_array is the array in **splits.txt** and the error result is in **error.txt**, the initial_value is **-inf**.

The error occurred in

[2021-09-06 04:47] csukuangfj commented on #368
@danpovey

The issue is reported here.  We are making an all-in-one `.cu` file for easy reproducing.

[2021-09-06 15:49] lilohuang opened #369 "cub::GridBarrier GPU hang issue"
Hi cub experts,

The below example was modified from "cub/test/test_grid_barrier.cu" which demonstrates GPU hang (GPU busy waiting) issue on NVIDIA P100. The issue can be resolved if I change the grid_size to 56.

Is this issue related to https://github.com/NVIDIA/cub/issues/356 due to incorrect semantics?  Any idea or workaround would be appreciated.  @senior-zero  @allisonvacanti

[code]

Thank

[2021-09-06 16:33] senior-zero commented on #369
Hello, @lilohuang!

This issue isn't related to #356. Your kernel hangs because your GPU can't sustain the requested number of thread blocks. The grid barrier requires that grid size doesn't exceed the maximal number of thread blocks that can work simultaneously.

This behaviour can be explained as follows. The main thread block is spinning until the thread block `MAX + 1` reports that it's ready.

[2021-09-06 16:33] #369 closed

[2021-09-06 23:37] lilohuang commented on #369
Thanks @senior-zero  your strong support. It would be great if cub documentation can describe it clearly. :)

[2021-09-07 06:23] pkufool commented on #368
There is a bug in our internal code, sorry!

[2021-09-07 06:23] #368 closed

[2021-09-07 09:27] g-ziyan opened #370 "the argument of template must be a constant value"
Hi there,

I'm trying to sum across threads with the function BlockReudce, which requires BLOCK_DIM_X as the argument of template. As I am concerned, BLOCK_DIM_X is threads number is 1d block case. The problem is in my program, threads_num is not a constant value, so it could not be as the argument of template.

I have no idea how to cast it to a constant. Or is there anyway could solve the proble

[2021-09-07 10:27] senior-zero commented on #370
Hello, @g-ziyan!

Unfortunately, there's no way to use a runtime value for `BLOCK_DIM_X`.  I can suggest the following workaround. It's possible to hardcode a few block sizes and use one that is closer to the runtime value:

[code]

If this approach doesn't suit you, you can rely on [JIT compilation](https://github.com/NVIDIA/jitify) and compile your kernel at runtime.

[2021-09-07 10:55] senior-zero commented on #369
Thank you for the comment! It's definitely worth mentioning in the documentation. Could you describe this request in the form of an issue?

[2021-09-07 11:26] lilohuang opened #371 "Improving cub::GridBarrier documentation"
This issue is a follow up of the https://github.com/NVIDIA/cub/issues/369

The documentation of cub::GridBarrier is unclear to understand the grid size limitation which could be throttled by the SM count, block size, and the dynamic shared memory size.

It would be great if @senior-zero  and other cub experts can describe it clearly.

Thank you so much,
Lilo

[2021-09-07 11:27] lilohuang commented on #369
@senior-zero  https://github.com/NVIDIA/cub/issues/371 has been created to follow up the issue, thanks again 👍

[2021-09-07 11:49] g-ziyan commented on #370
Thanks for your response. Although it does't suit my case, but it's a good point!

[2021-09-09 16:36] fkallen opened #373 "`CachingDeviceAllocator` : Reusing allocations is not safe with per-thread implicit streams"
After DeviceFree, an allocation can in theory be reused on the same stream it was previously allocated. stream-ordering ensures that all operations before DeviceFree are completed before accessing the reused allocation.

This is implemented as follows
[code]

However, this is not sufficient for cudaStreamPerThread, or default stream compiled with `--default-stream per-thread`. These streams have t

[2021-09-09 22:28] zasdfgbnm commented on #300
This can be closed, correct?

[2021-09-09 22:28] #300 closed

[2021-09-09 22:44] jrhemstad commented on #373
Yep, we ran into this in RMM a while back: https://github.com/rapidsai/rmm/issues/410

You might consider using `cudaMallocAsync` instead.

[2021-09-13 18:51] allisonvacanti commented on #360
Thanks for the report, we should fix this at some point.

BTW, there's no reason for a user to build these targets, since CUB is header-only -- the only targets compiled by our build system are tests and examples. The user CMake packages for CUB will not enable this flag.

[2021-09-14 00:42] zasdfgbnm commented on #270
I am working on this in https://github.com/NVIDIA/cub/pull/374

[2021-09-20 19:25] zasdfgbnm opened #377 "cub::TransformInputIterator should not define `operator->()`"
See:
[code]

[2021-09-23 16:59] allisonvacanti commented on #212
This came up in the context of #340, making a note here.

The "preprocessor macros to control 32-bit vs 64-bit vs both code paths" implementation could be something like:

[code]

Other notes:

- The `Device` layer functions should accept `std::size_t num_items`.
- Internally we'll use `OffsetT` = `std::int64_t` or `std::int32_t` when instantiating the `Dispatch` layer templates.
  - We can revisi

[2021-09-23 17:28] cliffburdick commented on #212
I think other libraries were using `int64_t` or `long long int` rather than `size_t` with the thought being that 2^63 was sufficiently large to handle all cases, and the sign bit could help with sentinels or error codes. If I'm understanding correctly, is the user going to be exposed to a `size_t`, but internally it was cast to a signed 64-bit? Can the exposed API just be signed 64?

[2021-09-23 17:52] jrhemstad commented on #212
To add more context, in [RAPIDS cuDF](https://github.com/rapidsai/cudf) our input sizes are also limited to `int32_t` ([but this is not without a lot of consternation from users](https://github.com/rapidsai/cudf/issues/3958)).

This requirement largely comes from the [Apache Arrow spec](https://arrow.apache.org/docs/format/Columnar.html#array-lengths), which historically limited the size of a colu

[2021-09-23 18:10] jrhemstad commented on #212
Looking at something like `std::for_each_n`, the `size` parameter type is a template, so that allows configuration and avoids any double instantiation without any macro stuff.

It wouldn't work for existing code, but one option would be making all CUB algorithms be `*_n` algorithms where the size type is a template.

This is _much_ further out, but we could also look at solving this problem with a

[2021-09-23 19:29] allisonvacanti commented on #212
I'm concerned about signed/unsigned warnings in the common case of using a container (e.g. `std::size_t thrust::device_vector<T>::size()`) to produce `num_items`. If we want to use the extra bit for sentinals, etc, that'd be an implementation detail that shouldn't be exposed in the public API.

I haven't thought this through completely, but I'm not opposed to this idea. The `int` case for existing

[2021-09-23 22:19] allisonvacanti commented on #212
Updating with an offline conversation, we may want to replace the macros with a per-call solution via a policy class. This would prevent surprises (like changing the behavior of Thrust/stdpar).

It would also open the door for additional customizations, like tuning parameter overrides, launch bounds, etc.

[2021-09-25 15:17] YinLiu-91 commented on #179
Hi, RaulPPelaez:
I think I have find the problem. It's because a  lane ID comutation error when using shared memory  warp reduction in a not warp size is not power of 2 case. When the logical warp is lives in both phsical warp, it will give incorrect answer. For example, 7 therads per warp and 5 warps per block,the last warp lane id is :

|threadId|28|29|30|31|32|33|34|
|---|---|---|---|---|---|--

[2021-09-26 15:28] senior-zero commented on #179
Hello, @RaulPPelaez, @YinLiu-91! Thank you for noting this. Unfortunately, this behaviour is expected but ill documented. First of all, if we partition a hardware warp into tiles of any non-power-of-two threads, we'll end up with the case below.

![image](https://user-images.githubusercontent.com/9890394/134814003-f00d467e-bc24-47b6-a5c0-e59ebfc3c222.png)

It means that the warp synchronization ca

[2021-09-28 19:11] allisonvacanti commented on #212
Another update from an offline conversation:

Currently the preferred approach is to use the `SizeT` provided by the user (that is, the inferred type of `num_items`), and use that to statically deduce `OffsetT`, adjusting for signedness, etc as required by the algorithm's implementation:

[code]

This is a much simpler approach than I previously proposed, and provides the user with the most contro

[2021-09-30 21:19] allisonvacanti commented on #212
Updated previous comment to incorporate additional feedback from @canonizer @jrhemstad and @dumerrill.

Changes:

- Added `static_assert(std::is_integral<SizeT>::value)` to `Device` function body.
- Use unsigned offsets instead of signed -- since we'll be porting these algorithms incrementally, we can afford to spend some time fixing any issues that arise from the change in signedness. This avoids

[2021-10-05 20:47] senior-zero opened #383 "Optimize DeviceSegmentedRadixSort"
During the development of the [new segmented sort](https://github.com/NVIDIA/cub/pull/357), I extracted an `AgentSegmentedRadixSort` class. It's mostly based on the existing `DeviceSegmentedRadixSort` implementation. The only differences are:
1) `while (current_bit < end_bit)` loop is moved from the host to the device side.
2) if the segment data fit into shared memory, `BlockRadixSort` is used.

[2021-10-06 16:51] senior-zero opened #384 "Controversial output type deduction in cub::DeviceScan::InclusiveSum"
There was reported an issue regarding the internal accumulator type in `cub::DeviceScan::InclusiveSum`. The issue consists in using input data type as accumulator type. Here's the reproducer:

[code]

The naive solution would be to [fix the output value type deduction](https://github.com/senior-zero/cub/commit/f412c92a02a6dc0ad9a9f17395ca0d564999f78e#). But this solution doesn't seem to conform ST

[2021-10-06 18:16] yuslepukhin commented on #384
I think that captures it. Interesting enough, that when thrust::inclusive_scan was used, the output was correct, however, the switch was made to cub::DeviceScan because of its ability to take cuda stream argument. What would be a good way to walk around it? (using cuda 11.3). Lauching a kernel with a stream argument, just to run thrust::inclusive_scan(thrust::device, ...) would not be effective, w

[2021-10-06 21:49] allisonvacanti commented on #384
The accumulator type deduction is intentionally implemented to follow the recommendations in [this proposal](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p0571r2.html), which essentially boil down to:

- If an initial value is supplied, use its type for the accumulator
- Otherwise use the `value_type` of the input iterator.

Unfortunately, the current implementation does not easily supp

[2021-10-13 07:06] higherer opened #385 "Illegal memory access in BlockLoad and BlockStore"
BlockLoad and BlockStore may result in CUDA error 700 (an illegal memory access was encountered) in the following kind of examples:

 The input d_data (in global memory) is  0, 1, 2, 3, ... , 99  and has has only 100 elements.  BLOCK_DIM_X = 64.  In register, I want to load the data into thread_data[4] (4 elements for each thread). If I use cub::BLOCK_LOAD_TRANSPOSE or cub::BLOCK_LOAD_WARP_TRANSPO

[2021-10-13 08:29] higherer commented on #385
It might be some other issue.  I will close it for the moment and make things sure first.

[2021-10-13 08:29] #385 closed

[2021-10-26 15:35] zasdfgbnm opened #394 "Unable to build with `-D__CUDA_NO_HALF_CONVERSIONS__`"
**`-D__CUDA_NO_HALF_CONVERSIONS__` is required for PyTorch, because PyTorch has its own half type, and without this macro definition will mess things up on C++ type system.**

Test program:
[code]

Build with
[code]

Gets error:
[code]

[2021-10-26 15:56] zasdfgbnm opened #396 "block_merge_sort.cuh(169): error: expected a ")""
I am seeing this error when compiling PyTorch with the latest main branch of cub. I don't know what is the root cause of this problem, because line 169 looks correct to me.

[2021-10-27 10:41] #394 closed, assigned to gevtushenko

[2021-10-30 14:18] lkskstlr opened #401 "Launch failure potentially based on `cub::BlockReduce<double, TPB, cub::BlockReduceAlgorithm::BLOCK_REDUCE_RAKING_COMMUTATIVE_ONLY> BlockReduce`"
Dear Maintainers,

thank you for the awesome library, I really like it :)

I have a strange launch failure when using `cub::BlockReduce<double, TPB, cub::BlockReduceAlgorithm::BLOCK_REDUCE_RAKING_COMMUTATIVE_ONLY> BlockReduce` together with CUDA Dynamic Parallelism (CDP). When I uncomment all `cub` code from the Kernel, the error does not appear.

The Kernel code is roughly
[code]

 The caller is

[2021-10-30 18:13] senior-zero commented on #401
Hello, @lkskstlr! Thank you for your feedback. Unfortunately, your code snippet is insufficient to reproduce this error. I've extracted CUB related parts in the following code:

[code]

Please, let me know if it reproduces the described issue on your setup. It seems to work fine on mine. If the code above doesn't represent your case, please, feel free to update it here. If this code represents you

[2021-11-08 16:32] allisonvacanti commented on #295
PR #402 should address this. I couldn't reproduce this on nvc++ 21.7 -- if you get a chance to check that this fixes the failing nvc++ tests, let me know!

Unfortunately we can't really use this technique, since `scan_op` may be a different operation than `cub::Sum`. Since the error you're seeing (0.0100725%) is only slightly more than the current threshold (0.001%), I've just increased the thresh

[2021-11-10 16:51] #295 closed

[2021-11-15 20:06] zasdfgbnm opened #406 "cub::DeviceSelect::Unique doesn't work with thrust::discard_iterator"
Sample code:
[code]

https://github.com/NVIDIA/cub/pull/405 is also affected. I am not fixing this issue in https://github.com/NVIDIA/cub/pull/405, so the fix of this should fix `cub::DeviceSelect::UniqueByKey` as well.

[2021-11-19 19:44] allisonvacanti commented on #406
More info: https://www.godbolt.org/z/8q9qTcxrK

[code]

[2021-11-24 12:29] fkallen commented on #406
Same errors occurs here https://github.com/NVIDIA/thrust/issues/1490

[2021-12-02 14:29] fkallen opened #409 "DeviceSegmentedSort synchronizes default stream and produces wrong results when launched from a kernel"
1. DeviceSegmentedSort performs cudaMemcpy on the default stream instead of the supplied stream.
2. In device code, memcpy may execute before group_sizes and num_selected_groups are calculated. This leads to wrong results.

[code]

[2021-12-03 12:15] senior-zero commented on #409
Thank you for reporting this! I'll create PR soon.

[2021-12-03 13:51] senior-zero commented on #409
@fkallen could you check if [the fix](https://github.com/NVIDIA/cub/pull/410) works for you?

[2021-12-03 15:57] fkallen commented on #409
Your fix does work for me.

[2021-12-11 10:25] #409 closed

[2021-12-14 09:16] chongxing opened #412 "is WARP_BALLOT inside LookbackGlobal redundant?"
in file cub/agent/agent_radix_sort_onesweep.cuh

    __device__ __forceinline__ void LookbackGlobal(int (&bins)[BINS_PER_THREAD])
    {
        #pragma unroll
        for (int u = 0; u < BINS_PER_THREAD; ++u)
        {
            int bin = ThreadBin(u);
            if (FULL_BINS || bin < RADIX_DIGITS)
            {
                OffsetT inc_sum = bins[u];
                int want_mask = ~0;

[2021-12-14 17:54] allisonvacanti commented on #412
@canonizer Can you take a look at this?

[2021-12-14 18:39] canonizer commented on #412
It's definitely redundant from the functional perspective. However, leaving it out does have a small but noticeable effect on performance. That's why it is there.

The same applies to the `WARP_BALLOT()` when writing out the items to global memory, see https://github.com/NVIDIA/cub/blob/main/cub/agent/agent_radix_sort_onesweep.cuh#L479.

[2021-12-14 18:40] #286 closed

[2021-12-15 03:00] chongxing commented on #412
@canonizer  Oh, it might be divergent when leaving above "while (value_j == 0)" loop, so this WARP_BALLOT makes it reconverge. I see. Thanks very much.

[2021-12-15 17:02] #412 closed

[2022-01-02 00:08] WeiqunZhang opened #416 "Documentation for `cub::DeviceSpmv` refers to unused `alpha` and `beta` parameters"
There is some inconsistency in the documentation for `cub::DeviceSpmv` (https://nvlabs.github.io/cub/structcub_1_1_device_spmv.html).  The overview says
[code]
But the function signature of `CsrMV` has neither `alpha` nor `beta`, and the function's description says
[code]
However, the code snippet has `alpha` and `beta`.
[code]
Could someone clarify on this?  Thanks!

[2022-01-06 17:50] surak opened #417 "CubDebug on PyTorch with GCC 11.2.0 and CUDA 11.5"
While compiling PyTorch 1.10.1 from source with CUDA 11.5, I stumble upon this:

[code]

I suspect that they redefine the cub namespace because of some past changes on CUB, but my C++ skills don't go that far. Any hints to fix this?

[2022-01-07 10:16] naturomics commented on #417
Same problem.

[2022-01-07 11:25] surak commented on #417
@naturomics It seems that both CUDA changed CUB, and PyTorch changed their namespace using an old cub.

Here: https://github.com/pytorch/pytorch/issues/70931#issuecomment-1006889109

What I am doing is patching PyTorch 1.10.1 manually, as their patch fails. https://github.com/pytorch/pytorch/pull/66219

[2022-01-07 11:26] surak commented on #417
I think Nvidia should be aware, but it's not a CUB issue. Closing this one.

[2022-01-07 11:26] #417 closed

[2022-01-10 16:47] allisonvacanti commented on #416
Thanks for reporting this! This should be fixed for the next release.

You are correct, the DeviceSPMV function does not expose the alpha/beta parameters, they are fixed to 1 and 0 respectively.

[2022-01-14 18:59] zasdfgbnm opened #419 "error: ‘discard_itr.cub::DiscardOutputIterator<int>::pad[1]’ may be used uninitialized in this function"
I am seeing the following error when compiling cub
[code]
The following version of compiler are used:
[code]

[2022-01-18 10:46] ptheywood opened #422 "CUB 1.15.0 compilation errors if included after `Windows.h`"
If `Windows.h` is included prior to `cub/cub.cuh` under MSVC compilation will fail with the following:

[code]

This impacts the use of [NVIDIA/Jitify](https://github.com/NVIDIA/jitify) and NVRTC.
`nvrtc.h` conditionally includes `Windows.h` if `NVRTC_GET_TYPE_NAME` is defined to a non-zero value (as used in Jitify).

This only occurs since CUB `1.15.0` with multiple CUDA versions, and only if `Wi

[2022-01-18 17:27] senior-zero commented on #422
It would seem that windows.h defines a macro called `small`, which happens to be a name of a variable in the new segmented sort:
[code]
Fix consists of renaming this member. I'll create a PR later today.

[2022-01-19 17:56] #419 closed

[2022-01-20 19:18] #422 closed

[2022-01-27 13:30] vince-streamhpc opened #427 "Bug in CUDA fp16 to float conversion"
I think there is a bug in `__half2float` when it comes to `-NaN`.

A -NaN `float` gets incorrectly converted to `__half` NaN. (Should be -NaN)
A -NaN `__half` gets incorrectly converted to `float` NaN. (Should be -NaN)

For `BFloat16` it works fine.

Posting the bug here since I don't want the hassle of registering to NVidia's Developer program.

Compile the following with: `nvcc -o Half_to_float_

[2022-01-27 20:11] allisonvacanti commented on #427
You'll need to report this to the proper channel to get it to the right people. This tracker is only for issues that can be fixed in CUB.

https://forums.developer.nvidia.com/t/how-to-report-a-bug/67911

[2022-01-27 20:11] #427 closed

[2022-01-27 21:38] #336 closed

[2022-01-28 12:58] codecircuit opened #428 "Use P2322R6 to determine intermediate types for relevant algorithms"
The `reduction_op` is called with a type derived from the output iterator.  Example:

[code]

If this snippet is compiled with CUDA 11.4.48,  CUB on commit 93f26ab71dd8d69b6922936a0067644178fa731f and Thrust on commit 0b00326becfdd7a78182b36d0752c41b341863b2, which represent the current state of the default branches of CUB and Thrust, you recieve the error:

[code]

The compilation also fails for

[2022-01-28 16:25] vince-streamhpc commented on #427
Not gonna go through the hassle of registering in the developer program.

[2022-02-07 08:19] Peter9606 opened #429 "Comments wrong about ascending and descending"
https://github.com/NVIDIA/cub/blob/93f26ab71dd8d69b6922936a0067644178fa731f/test/test_block_radix_sort.cu#L491-L494

Seems L491 and L494 should be switched.

[2022-02-07 18:37] allisonvacanti commented on #224
Closing as #357 added a (significantly!) improved segmented sort.

[2022-02-07 18:37] #224 closed

[2022-02-08 17:31] #416 closed

[2022-02-08 23:22] maddyscientist opened #435 "Missing <iterator> include in util_type.cuh"
The recent changes as a part of the 1.16 work, specifically, 68f51a93831bc423562d5a9b398165778339f077, introduced the use of `std::iterator_traits`.  E.g., [here](https://github.com/NVIDIA/cub/commit/68f51a93831bc423562d5a9b398165778339f077#diff-7883605f0f62cb7979093529c93a2d067adba8c1a3cc115de5adc2882297a595R78).  However, the header `iterator` was not included, and this leads to breakages.  Spec

[2022-02-08 23:49] pkoosha opened #436 "Compiling cublas in third party app"
Hi

I am using cub::DeviceScan::ExclusiveSum in a third party app using CUDA/11.2 and gcc/8.5.0. When using a stand-alone program the compilation pass by doing "nvcc -O3"
However, To compile the third party app I use the following arguments:

[code]

Could you help me please to compile this program.

**The errors that I see are:**

[code]

[2022-02-09 02:45] allisonvacanti commented on #435
Thanks for testing the RC!

Dug into it a bit. I was surprised since we compile all headers by themselves to prevent this sort of thing. But it looks like `nvcc` pulls in portions of `iterator_traits` as part of its default `--pre-include`'d header set, so this slipped under the radar.

We'll fix this and tag a new RC. I'll also see about fixing our header tests to avoid the pre-included headers,

[2022-02-09 03:03] allisonvacanti commented on #436
Could you share the complete command line that generate the error?

[2022-02-09 19:07] allisonvacanti commented on #436
This looks like a typo: `LDFLGAS`. Should it be `LDFLAGS`?

It looks like the `-std=c++14`  flags aren't making it to the compiler. Can you run

[code]

and share the output? That would confirm this. If so, it's an issue in this project's build system, not CUB itself.

[2022-02-09 19:16] allisonvacanti commented on #428
Agreed -- this should use either the initial value type or input iterator value type for consistency with https://wg21.link/P0571. We made this change a while ago for the scan algorithms and need to update the others as well.

[2022-02-09 19:18] allisonvacanti commented on #428
Updated the title to be more general, as we should verify that the other algorithms listed in the proposal are following these conventions, too.

[2022-02-09 20:02] #435 closed

[2022-02-14 10:39] senior-zero opened #438 "Fuse segments partitioning with sorting of small segments"
I've found a corner case in the `cub::DeviceSegmentedSort` that can be optimized. If input data contains a lot of unit segments, the performance isn't optimal since we have to read segment offsets twice and since these segments are unit, the offsets can exceed the data size of these segments. This is the case for the following [matrix](https://sparse.tamu.edu/MAWI/mawi_201512020330):

![image](htt

[2022-02-21 13:05] guillaumekln opened #439 "Compilation error with CUDA 10.0"
Hello,

I'm using this project via Thrust 1.16.0 and I get the following compilation error with CUDA 10.0 when including `cub/cub.cuh`:

[code]

Is CUDA 10.0 still supported by recent versions?

Thanks!

[2022-02-21 21:40] pkoosha commented on #436
The issue was that I was using Cub functions inside C file. moving it to .cu file helped.

[2022-02-22 17:29] allisonvacanti commented on #439
The current version of Thrust requires at least CTK 11.0.

[2022-02-22 17:29] #439 closed

[2022-02-22 17:30] #436 closed

[2022-02-25 05:55] lilohuang opened #441 "cub::DeviceReduce::ReduceByKey() results are non-deterministic for floats"
@allisonvacanti @senior-zero

[cub::DeviceReduce::ReduceByKey](https://nvlabs.github.io/cub/structcub_1_1_device_reduce.html#a303ae673ac32825f95912b4bfff8bef1) web page describes "run-to-run" determinism for addition of floating point types, but the result looks wrong to me. Is it an expected behavior or a bug?

From my limited testing somehow I got run-to-run result from the below code with CUDA

[2022-03-07 19:24] allisonvacanti commented on #441
It looks like we'll need to update the docs here, similar to NVIDIA/thrust#1587. Thanks for pointing this out!

[2022-03-09 07:53] jinfagang opened #442 "unspported gpu arch compute_80?"
unspported gpu arch compute_80?
on centos7 gpu card is T4

[2022-03-09 07:56] jinfagang opened #443 "how to build on cuda10.2?"
cuda10.2 doesnt support gpu arch 80

[2022-03-09 21:23] allisonvacanti commented on #442
I'm not sure what your question is. Can you provide more detail?

[2022-03-09 21:25] allisonvacanti commented on #443
Correct, CUDA 10.2 doesn't support Ampere, you'll need a newer version of CTK for that. Is there a CUB issue here?

[2022-03-10 02:53] jinfagang commented on #442
@allisonvacanti Not able to build cub on centos7 with cuda10.2 installed.

[2022-03-10 02:53] jinfagang commented on #443
@allisonvacanti I cloned cub and build it got this error.

[2022-03-10 16:06] allisonvacanti commented on #443
The current development branch of CUB only supports CUDA 11.0+. The 1.8.0 version of CUB should work on 10.2.

[2022-03-10 16:06] #443 closed

[2022-03-10 16:07] allisonvacanti commented on #442
Duplicate of #443.

[2022-03-18 16:45] allisonvacanti commented on #406
Fixed by #444.

[2022-03-18 16:45] #406 closed

[2022-03-19 14:34] lilohuang commented on #190
@allisonvacanti I think this issue has been fixed with https://github.com/NVIDIA/cub/pull/352 Could you help me to check and close it? Thanks.

[2022-03-19 14:35] lilohuang commented on #190
@allisonvacanti I think this issue has been fixed with https://github.com/NVIDIA/cub/pull/352 Could you help me to check? Thanks.

[2022-03-20 04:57] lilohuang commented on #108
@dumerrill could be incorrect in 2022 especially for some device-wide operations. see details in https://github.com/NVIDIA/cub/issues/441 and https://github.com/NVIDIA/thrust/issues/1587#issuecomment-1021471946

CC @allisonvacanti @senior-zero

[2022-03-20 04:58] lilohuang commented on #108
@dumerrill comment might be incorrect in 2022 especially for some device-wide operations. see details in https://github.com/NVIDIA/cub/issues/441 and https://github.com/NVIDIA/thrust/issues/1587#issuecomment-1021471946

CC @allisonvacanti @senior-zero

[2022-03-20 05:06] ekelsen commented on #441
I think this approach to determinism is a bit cavalier.  My original ask for switching the reduce implementation to be deterministic in https://github.com/NVIDIA/cub/issues/108 was because I was changing Tensorflow's reduction to use CUB and thus Tensorflow being deterministic now depends on CUB being deterministic.

I haven't been working on TF for a long time now, but if the docs do guarantee de

[2022-03-21 18:20] allisonvacanti commented on #441
We're discussing adding deterministic APIs, but it's a matter of prioritization and limited resources right now.

Those guarantees were broken several years ago, unfortunately, and the current implementations of these algorithms cannot easily support this usecase. This is definitely not ideal, I 100% agree. Hopefully we'll be able to address this better in the future.

[2022-03-21 18:28] allisonvacanti commented on #190
Good catch, yes, this was fixed with the recent DeviceSpmv updates.

[2022-03-21 18:28] #190 closed

[2022-03-22 01:31] ekelsen commented on #441
@allisonvacanti Do you know when the regression was introduced?  At the end of 2017 the reduction should have been deterministic (around #121 ).  There are then very few commits until sometime in 2020.  Scanning the titles until now, I don't see anything obvious that switched the underlying reduction implementation algorithm.  Would be interested to see where that happened.

[2022-03-22 18:20] allisonvacanti commented on #441
I'm not sure where it happened. I was not aware that this was broken until this issue was filed, and I don't see any changes in the log that would have affected this behavior. No idea.

[2022-03-24 07:06] kshitij12345 opened #447 "Link pointing to Thrust Development Model in CONTRIBUTING.md is invalid (gives 404)"
Ref: https://github.com/NVIDIA/cub/blob/main/CONTRIBUTING.md#development-model

[2022-03-24 07:20] kshitij12345 commented on #337
@senior-zero @allisonvacanti Is it ok if I give this a shot? Thanks!

[2022-03-24 17:24] allisonvacanti commented on #337
@kshitij12345 Feel free to try it. It'll likely be a while until it's merged into `main` since we need to do more testing on it, but it should be usable.

[2022-03-24 17:32] allisonvacanti commented on #447
Thanks for pointing this out! The Thrust docs were reorganized recently and we missed this.

This link should point to https://github.com/NVIDIA/thrust/blob/main/docs/github_pages/releases/versioning.md.

[2022-03-24 18:32] kshitij12345 commented on #447
Should the PR be on this repo or thrust? Sorry I am a bit confused.

[2022-03-24 18:33] kshitij12345 commented on #337
Sure. I'll give it a shot. Are there other issues that I can help with? I am interested in learning more and contributing to `cub`. Thanks!

[2022-03-24 18:40] kshitij12345 commented on #447
Also, link to CONTRIBUTING.md of thrust is invalid

Ref: https://github.com/NVIDIA/cub/blob/main/CONTRIBUTING.md#contributing-to-cub

[2022-03-25 17:09] allisonvacanti commented on #337
I'm definitely interested in contributions!

Can you send me an email at `avacanti@nvidia.com` and let me know what sort of things you're interested in, and what your experience is with C++/CUDA? I'm sure I can find something for you to help out with, but I want to make sure it aligns with your skills/interests. Thanks!

[2022-03-25 17:14] allisonvacanti commented on #447
Great, thanks for the PR :)

On second thought, we should probably link to the new formatted docs rather than the markdown files. Can you update #449 so that:

1. "development model" link goes to https://nvidia.github.io/thrust/releases/versioning.html
2. "contributing" link goes to https://nvidia.github.io/thrust/contributing.html

Thanks!

[2022-03-25 23:56] lilohuang commented on #441
@fkallen correct, thrust/cub reduce_by_key is implemented as a prefix scan by using @dumerrill 's decoupled look-back algorithm, reduce_by_key with prefix scan approach is good to me to get workload balance on different SMs.  At this moment, I'm using a handcrafted implementation to solve these issues. Looking forward NVIDIA (@allisonvacanti @senior-zero @dumerrill) to provide a future-proof solut

[2022-04-04 18:48] #447 closed

[2022-04-05 17:56] zasdfgbnm opened #454 "cub device scan is not deterministic as described in the documentation"
Issue originally reported at https://github.com/pytorch/pytorch/issues/75240
To repro, see: https://github.com/NVIDIA/cub/pull/453

[2022-04-06 08:41] wence- commented on #454
FWIW, https://github.com/NVIDIA/cub/commit/7a8320c3ab1aa0d73946f443036c20edf85f68be updates the docs to indicate that these operations are not deterministic run-to-run. But it looks like there hasn't been a release to build them since then?

[2022-04-06 18:32] allisonvacanti commented on #454
Unfortunately this issue has been popping up a lot recently in several algorithms, scan and reduce variants in particular. It appears that this documentation has been incorrect for quite some time, as these algorithms are implemented using techniques like decoupled lookback that are completely non-deterministic.

I'm aware of the situation and would like to fix it, but currently lack the resources

[2022-04-11 19:08] allisonvacanti opened #457 "Add `cub::FutureValue` support for `cub::DeviceReduce::Reduce` initial values"
See discussion in #294 and #305. The same change should be applied to `cub::DeviceReduce::Reduce`.

[2022-04-12 09:45] kshitij12345 commented on #457
@allisonvacanti I would like to give it a try. Thanks!

[2022-04-12 12:20] pauleonix opened #458 "BlockLoad/BlockStore to/from shared memory"
For some algorithms it makes no sense to have a whole block of data in registers at once. For others a local buffer is bad due to dynamic indexing. For these it would be great to have versions of `cub::BlockLoad` and `cub::BlockStore` that skip the step of loading the values from shared memory into registers and just provide them in shared memory s.t. each thread of a warp has all its values on th

[2022-04-17 19:26] fkallen opened #459 "DeviceRadixSort::SortPairs hangs if unsigned numItems is close to 2^32"
The following program hangs for unsigned int number of items close to 2^32. The same numbers with size_t numItems works.

[code]

[2022-04-19 09:25] fkallen opened #461 "cub::DeviceSegmentedSort::SortKeys sorting randomly not correct"
[data.bin.zip](https://github.com/NVIDIA/cub/files/8511652/data.bin.zip)

The following code loads 3 test batches from a file and runs DeviceSegmentedSort.
Some segments are not correctly sorted. This is non-deterministic.

DeviceSegmentedRadixSort works correctly.

Output on my machine (Pascal GPU)
[code]

[code]

[2022-04-19 11:35] senior-zero commented on #461
Hello, @fkallen!

Thank you for letting us know. Have you tested the code above on a different input data than attached to this issue? I see the following batch sizes:

| batch | numSegments | numItems |
| ------ | ---------------- | ----------- |
| 0 | 2048 | 1379125 |
| 1 | 0 | 0 |
| 2 | 0 | 0 |

Just in case, I've run this code a few thousand times with different Pascal policies and haven't fou

[2022-04-19 12:31] fkallen commented on #461
Hi, here is another file with only 1 batch. You need to set `const int numBatches = 1;` accordingly [data.bin.zip](https://github.com/NVIDIA/cub/files/8512657/data.bin.zip)
numSegments 2048, numItems 2157469

Plain text inputs:
[dataplain.txt](https://github.com/NVIDIA/cub/files/8512881/dataplain.txt)

I am using cub/thrust release 1.16.
Cuda compilation tools, release 11.5, V11.5.119
Build cuda_1

[2022-04-19 14:39] fkallen commented on #461
No, using binary mode does not change the program.

[2022-04-19 18:18] fkallen commented on #459
The problem seems to be an infinite loop in agent_radix_sort_histogram. The `tile_offset` variable wraps around in the last portion.

https://github.com/NVIDIA/cub/blob/a7e3495a87607e877b86aadc20c42c624957a4ea/cub/agent/agent_radix_sort_histogram.cuh#L241
https://github.com/NVIDIA/cub/blob/a7e3495a87607e877b86aadc20c42c624957a4ea/cub/agent/agent_radix_sort_histogram.cuh#L242

[2022-04-20 12:19] senior-zero commented on #461
Update: I've managed to reproduce this behavior on Titan Xp. The race dissapears if I compile the reproducer with proper CC:
[code]

By default, nvcc compiles for PTX 52:
[code]

I'll investigate further if specifying of architecture hides the race or fixes some undefined behaviour.

[2022-04-20 20:50] senior-zero commented on #461
@fkallen I've created a [fix](https://github.com/NVIDIA/cub/pull/462), please, verify that it addresses your issues.

[2022-04-21 06:47] fkallen commented on #461
With your fix no errors occur.

[2022-04-21 11:34] #461 closed

[2022-04-25 18:00] #337 closed

[2022-04-26 15:07] senior-zero commented on #458
Thank you for this request! I agree that there is value in this kind of functionality. Block load provides vectorized loads and shared memory padding.  While vectorized loads might be used outside of block load facility (`cub::LoadDirectBlockedVectorized`), the memory padding wasn't abstracted out and is only available as an implementation detail of `cub::BlockExchange` facility.

I don't think th

[2022-04-26 16:58] pauleonix commented on #458
Thanks for the input. I was originally looking into doing a PR myself, but I agree that these API design decisions should be carefully made by the maintainers. Looking forward to 1.17 then!

[2022-04-26 19:39] allisonvacanti commented on #343
This was a bug in nvcc and was fixed in CTK 11.5.

[2022-04-26 19:39] #343 closed

[2022-04-27 02:44] beaulian opened #463 "Need DeviceSegmentedScan"
As I am using Thrust to do device segmented scan, hope CUB can support it.

[2022-04-27 02:49] #463 closed

[2022-04-28 21:18] #235 closed

[2022-04-29 19:34] allisonvacanti opened #467 "Figure out why there are three versions of `block_scan_warp_scans.cuh`"
In `cub/block/specializations/`:

[code]

Only the unversioned file is used, but we should check the difference between these and remove the old ones if they're not needed anymore.

[2022-04-29 19:36] allisonvacanti commented on #467
@dumerrill let us know if you have any insights/opinions on these files or if there's any value in keeping them around.

[2022-04-29 20:05] canonizer commented on #459
@fkallen Thanks for catching this!

 I've just opened https://github.com/NVIDIA/cub/pull/468 to fix this issue. @fkallen Could you check whether the fix works for you? If yes, I'll add some more tests to the pull request, and then it should be ready for review.

[2022-05-02 07:41] fkallen commented on #459
@canonizer It works with your PR.

[2022-05-06 20:07] allisonvacanti commented on #42
We should add a section to the docs about this. A generic section that explains the common pattern and conventions for using the `cub::Device*` API would be useful.

[2022-05-06 21:56] allisonvacanti opened #471 "Address issues with existing determinism guarantees"
# Overview

Some `cub::Device*` algorithms are/were documented to be run-to-run deterministic, but the implementations no longer fulfill that guarantee. This has been a major pain point for several users who were relying on this behavior. They're code does not behave as expected, and they have no way of fixing this without writing their own kernels.

An additional facet of this issue is that the e

[2022-05-06 21:58] allisonvacanti commented on #108
Closing after all, we'll let this old RFE rest. I've filed a new issue for the regressions at #471.

[2022-05-06 21:58] #108 closed

[2022-05-06 22:02] allisonvacanti commented on #441
Filed #471 to summarize and describe the various issues with existing and recently removed determinism guarantees. Closing this (and other similar issues) to consolidate discussion -- your feedback is welcome on #471.

[2022-05-06 22:02] #441 closed

[2022-05-06 22:06] allisonvacanti commented on #454
Wrote up a summary of the issue and some proposed solutions in #471. Feedback is welcome -- closing this issue to consolidate discussion to the new issue.

[2022-05-06 22:06] #454 closed

[2022-05-06 22:17] allisonvacanti commented on #131
We should investigate adding this to our CI.

[2022-05-06 22:19] allisonvacanti commented on #132
These were added in #357.

[2022-05-06 22:19] #132 closed

[2022-05-06 22:22] allisonvacanti commented on #134
Closing as expired -- please provide an example that replicates this behavior if it is still an issue.

[2022-05-06 22:22] #134 closed

[2022-05-06 22:30] allisonvacanti commented on #144
Just to close the loop, a final sync is not needed, and the shfl-based implementation will use the `shfl.sync` instructions when required for a given arch. Leaving this open as a reminder to address this in our next documentation push.

[2022-05-06 22:31] #146 closed

[2022-05-06 22:33] #159 closed

[2022-05-07 19:56] dkolsen-pgi commented on #471
I prefer option 2.  The people who were depending on the determinism are already upset, and I am guessing that they will be (mostly) satisfied with option 2 (because CUB developers are unlikely to make the same mistake again when the function has "Deterministic" in its name.  If option 1 is chosen, then a whole new group of users (who care about performance more than determinism) will become upset

[2022-05-07 20:59] maddyscientist commented on #471
I also prefer option 2, and completely agree with the points raised above by @dkolsen-pgi.

[2022-05-07 23:04] leofang commented on #471
cc: @kmaehashi (CuPy switched to use CUB by default despite the reproducibility/determinism concern)

[2022-05-09 15:57] ekelsen commented on #471
Glad to see this happening!  Although not directly affected anymore, my preference would be Approach 2.

[2022-05-09 19:47] canonizer commented on #355
https://github.com/NVIDIA/cub/pull/476 should address this issue.

[2022-05-09 19:54] fkallen opened #477 "Benchmarks in documentation are out-dated"
- Current documentation includes benchmarks between out-dated versions of cub and thrust. (e.g DeviceReduce https://nvlabs.github.io/cub/structcub_1_1_device_reduce.html)
- Current Thrust uses cub internally for some algorithms (e.g DeviceReduce)
- It would be nice to have benchmarks on Volta and newer architectures.

[2022-05-09 19:57] allisonvacanti commented on #187
We've done a number of warning-cleanup passes recently, and this should not be an issue anymore when built against supported CTKs (11.0+).

[2022-05-09 19:57] #187 closed

[2022-05-09 20:03] allisonvacanti commented on #192
Verified that this still happens with 1.16.0: https://www.godbolt.org/z/zGMv4enj8

[2022-05-09 20:11] allisonvacanti commented on #223
All that's really left is windows and internal testing against ToT nvcc. We're internally exploring a few different routes to make this happen.

[2022-05-09 20:23] allisonvacanti commented on #243
We no longer have these variants and instead split the compile-time-expensive tests up to take advantage of parallel builds.

[2022-05-09 20:23] #243 closed

[2022-05-09 20:26] allisonvacanti commented on #245
The tl;dr is "here be dragons".

This is not strictly safe within the CUDA programming model, but we take advantage of the fact that our current HW behaves this way. We may change this in the future if needed.

[2022-05-09 20:26] #245 closed

[2022-05-09 20:30] allisonvacanti commented on #260
Expired.

[2022-05-09 20:30] #260 closed

[2022-05-09 20:40] allisonvacanti commented on #269
Moving to backlog/triage since we've been testing CUDA texture object API on nvc++ for a while without issue. It's worth investigating why this seems to works, but it's low priority atm.

[2022-05-09 20:46] allisonvacanti commented on #281
Closing -- Jake is correct, Thrust's transform iterators should be used.

[2022-05-09 20:46] #281 closed

[2022-05-09 20:55] allisonvacanti commented on #294
This was fixed in #305.

[2022-05-09 20:55] #294 closed

[2022-05-09 21:12] #341 closed

[2022-05-09 21:16] allisonvacanti commented on #361
Closing  -- the new `DeviceSegmentedSort` algorithm added in #357 handles small segments much more efficiently.

[2022-05-09 21:21] allisonvacanti commented on #370
@senior-zero's reply is correct -- the implementation requires this information at compile-time. Compiling with a maximum num threads and then restricting it with `valid_items`, or JIT'ing the kernel, is the proper way to support variable sized inputs.

[2022-05-09 21:27] allisonvacanti commented on #401
@lkskstlr Any updates for this? See @senior-zero's questions above.

[2022-05-09 21:27] zasdfgbnm commented on #361
I think this is not resolved according to https://github.com/NVIDIA/cub/pull/357#issuecomment-904962869?

[2022-05-09 23:36] duncanriach commented on #471
I also prefer option 2.

[2022-05-10 18:59] allisonvacanti commented on #361
Thanks for pointing that out, I misread the issue (thought it was for small segments, not small number of segments). I'll reopen this.

[2022-05-11 04:36] leofang opened #478 "Need a macro to disable bf16 support?"
After #306 CUB supports bf16 in some functions. Unfortunately, this means the bf16 headers (`cuda_bf16.h`, `cuda_bf16.hpp`) become a dependency of Thrust/CUB. Let me explain why it is unfortunate.

Normally, this would be fine in the majority of cases, as CUDA headers are also needed at compile time. But in some cases, such as within a CUDA runtime docker (which contains no headers) + using Jitify

[2022-05-11 13:45] Melirius opened #479 "cub::DeviceHistogram::HistogramEven: Incorrect result when `LevelT` does not exactly match `SampleT`"
Passing into `cub::DeviceHistogram::HistogramEven` bounds of type different from type of samples leads to wrong histogramming. Example constructed from the library code is below. If you change type of `lower_level` and `upper_level` to `float`, all is OK, but `int` as in the example produces wrong histogram [1, 0, 0, 0, 4, 0]. Applicable to 1.16.

[code]

[2022-05-11 16:11] allisonvacanti commented on #479
We should either fix this behavior in the backend or require that `LevelT` is the same as `SampleIteratorT`'s value type. Moving to 2.0 since it may be a breaking change.

[2022-05-13 10:34] senior-zero opened #482 "Single thread warp reduce"
Currently, we don't support single-threaded reductions in `cub::WarpReduce`. The documentation only states that `LOGICAL_WARP_THREADS` may be less than the number of hardware threads. The mentioned use case fits into this category. We should address this issue because the warp size might be a template parameter. Here's a reproducer that exposes compilation error:

[code]

[code]

The compilation i

[2022-05-13 11:21] Melirius opened #484 "Compilation error in histogram with__half"
Compilation fails for `cub::DeviceHistogram::HistogramEven` with `__half` type samples. Applicable to 1.16.

[code]

[code]

[2022-05-13 11:26] Melirius commented on #484
As far as I can see, the problem is in not fully defined arithmetic operations with halves. Presumably some form of type casting should be introduced for mixed inputs in arithmetic operations.

[2022-05-13 13:27] fkallen opened #485 "Sorting of non-contiguous segments. Guarantees for ranges not specified in offsets?"
Assume that there is a contiguous range of 100 elements, and two segments [0 - 10), [80-100) should be sorted using the DoubleBuffer overload (using either segmented sort or segmented radix sort).

Does cub guarantee that elements 10 -79 remain unmodified in both Current() and Alternate() buffers?

[2022-05-13 13:53] senior-zero commented on #485
Hello, @fkallen! That's a good question. As I understand, the only requirement that documentation has to the segments is that they shouldn't overlap. We don't have any tests to ensure the mentioned behaviour. Do you have a use case that would require such a guarantee? If so, we should update the documentation along with tests.

[2022-05-13 18:07] allisonvacanti commented on #484
Can repro: https://www.godbolt.org/z/jPMG6EYP6

[2022-05-16 04:53] leofang commented on #485
I suppose if a strong guarantee is needed, we may have to use the non-`DoubleBuffer` overload?

[2022-05-16 07:39] lilohuang commented on #471
Option 2 :) thanks.

[2022-05-16 18:50] allisonvacanti commented on #428
@brycelelbach mentioned that there's an updated version of this proposal under a different name -- check with him to get the latest recommendations.

[2022-05-17 10:51] Melirius commented on #479
That is an idea that have consequences, for example: when you histogram `uint8_t` fully - with 256 bins - upper level 256 cannot be represented by `uint8_t`. So there is no possibility to histogram full range, that is needed at least for shorts and chars.

[2022-05-18 19:11] #355 closed

[2022-05-21 20:15] Melirius opened #489 "cub::DeviceHistogram::HistogramEven: Incorrect result with integer levels and samples"
The problem appears when `upper_level - lower_level` is not exactly divisible by number of `bins`. Appears in 1.16 and in https://github.com/NVIDIA/cub/pull/487 too.

Reproduction: the program as is provides [1, 0, 4, 1, 0, 0, 2] as a histogram, but correct one (obtainable by switching to `using T = float;`) is [1, 5, 0, 2, 1, 0, 0].
[code]

[2022-05-21 20:38] Melirius commented on #489
Instead of `bin = static_cast<int>((common_sample - min) / scale);` it should be `bin = static_cast<int>((common_sample - min) * bins / (max - min));` as the `scale` is of integral type and is therefore wrong. The problem that I can foresee is an overflow in multiplication, that can be avoided by extending arithmetics.

[2022-05-25 09:47] senior-zero opened #491 "Eliminate max_dim_x checks"
Currently, scan is organized as follows:
[code]

Starting with SM35 (minimal supported version for CUB), the `max_dim_x` always matches the int max, so this loop is of no use. Moreover, scan by key uses the very same approach, but ignores `start_tile` variable in tile index computation.

If there's nothing I'm missing, I suggest we remove `max_dim_x` checks and simplify the code.

[2022-05-26 23:51] allisonvacanti opened #496 "CUB docs main page needs updating"
The sections about versioning etc towards the bottom are particularly outdated.

[2022-05-27 10:05] MKKnorr opened #497 "Compilation error in cub::BlockAdjacentDifference::FlagTails"
The following code does not compile:

[code]
and returns
[code]

[2022-06-02 17:30] #497 closed

[2022-06-03 10:05] senior-zero commented on #238
Hello @HueHue44, @benbarsdell! I've created a series of PR that addresses in-place guarantees for various algorithms. Please, take a look at:
- partition [PR](https://github.com/NVIDIA/cub/pull/495)
- sort [PR](https://github.com/NVIDIA/cub/pull/499)
- reduce [PR](https://github.com/NVIDIA/cub/pull/500)
- rle [PR](https://github.com/NVIDIA/cub/pull/501)
- select [PR](https://github.com/NVIDIA/cub/

[2022-06-03 11:17] senior-zero commented on #428
The alternative approach is [P0571R2](https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p0571r2.html)

[2022-06-03 17:23] allisonvacanti opened #504 "In-place execution of `DeviceSelect::Unique` algorithms"
Per #503, it should be possible to introduce in-place versions of these algorithms.

[2022-06-04 16:45] #478 closed

[2022-06-09 14:36] vince-streamhpc opened #506 "AdjacentDifferenceCopy not setting temp_storage_bytes."
Calling `AdjacentDifferenceCopy` with `nullptr` to determine the storage size needed, does not set the `temp_storage_bytes` value.
[code]

[2022-06-09 14:45] vince-streamhpc opened #507 "AdjacentDifferenceCopy not following stl adjacent difference requirement"
The definition `std::adjacent_difference` specifies that the `BinaryOperation op` is called exactly once to determine the output.
https://en.cppreference.com/w/cpp/algorithm/adjacent_difference
[code]
From this follows that `op()` should not be invoked twice to get the output.

However, an operator that looks like the following would show that it is invoked twice:
[code]

Is it intended to follow

[2022-06-09 17:19] lkskstlr commented on #401
@allisonvacanti sorry, I missed the answer on this issue. I will see if I can still reproduce the bug. Thanks for following up :)

[2022-06-09 21:05] senior-zero commented on #506
@vince-streamhpc thank you for noticing this! I've created PR with a [fix](https://github.com/NVIDIA/cub/pull/508).

[2022-06-11 10:16] Maetveis commented on #507
Thanks @senior-zero, the fix helps, the first call to `SubtractLeftCopy` (meant to get the memory requirements) no longer launches the algorithm, but the problem still exists. When the problem size is not divisible by `items_per_tile` the user supplied operator is called with values (and more times overall) than what the standard specifies (altough cub documentation does not explicitly make the sa

[2022-06-16 01:34] jiapei-nexera opened #510 "error: invalid conversion from ‘EmptyKernelPtr’ {aka ‘void (*)()’} to ‘const void*’ [-fpermissive]"
Failed to build **Open3D** with the following **ERROR** messages:
Does it have anything to do with [cub](https://github.com/NVIDIA/cub) ?

[code]

[2022-06-17 14:50] peterbell10 commented on #292
Perhaps a minor point, but it would be a lot nicer if there were constants of type `T`, since that's what you need to pass to `LoadBlock`.

[2022-06-22 10:45] senior-zero commented on #507
@Maetveis thank you for your comment! I've updated the PR with a commit that fixes this. I also added new test to check the number of operator invocations.

[2022-06-22 19:49] allisonvacanti commented on #510
Which compiler are you seeing this on?

[2022-06-23 04:02] #506 closed

[2022-06-23 04:03] #507 closed

[2022-06-24 17:17] senior-zero opened #515 "Test with __CUDA_NO_HALF_CONVERSIONS__"
While addressing the following [issue](https://github.com/NVIDIA/cub/pull/514) I realized that we haven't implemented tests with `__CUDA_NO_HALF_CONVERSIONS__`. The original motivation is described [here](https://github.com/NVIDIA/cub/issues/394).

[2022-06-25 13:23] #484 closed

[2022-06-27 08:23] Kh4ster opened #517 "Small typo in WarpMergeSort example"
In the example here : https://nvlabs.github.io/cub/class_warp_merge_sort.html

Your defining:
`using WarpMergeSortT =
      cub::WarpMergeSort<int, items_per_thread, warp_threads>;`

Then using:
`__shared__ typename WarpMergeSort::TempStorage temp_storage[warps_per_block];`

When it should be:
`__shared__ typename WarpMergeSortT::TempStorage temp_storage[warps_per_block];`

[2022-06-28 20:32] senior-zero commented on #467
I believe those two specializations to be research leftovers:
- First of all, there's no way to use them at user side. If block_scan_warp_scans{,2,3}.cuh used if-guards, there would be a way to switch implementations, but not now. All structures are called `BlockScanWarpScans`, so they can't coexist.
- Our tests don't pass with those implementations. For block_scan_warp_scans2.cuh this is caused b

[2022-06-29 16:01] #467 closed

[2022-06-29 16:26] allisonvacanti commented on #467
Thanks for checking into this, I agree with the resolution.

[2022-07-02 15:04] senior-zero opened #522 "Allow RDC builds without CDP support"
The following code leads to excessive memory footprint when compiled with `-rdc=true`:

[code]

[code]

The issue can be reduced to the following code:
[code]

The `__cudaDeviceSynchronizeDeprecationAvoidance` is used on device only when `debug_synchronous` is set. I suggest we restrict "synchronous" part if the option in the case of device-side usage.

The second issue here is that we take `-rdc=

[2022-07-08 10:39] senior-zero opened #525 "Break `debug_synchronous` usage"
Currently, each device-scope algorithm in CUB has a `debug_synchronous` parameter which is defaulted to `true`. Being a runtime variable, it leads to a few issues:

1. In case of `-rdc` compilation, there's a higher memory footprint ([issue](https://github.com/NVIDIA/cub/issues/522)).
2. `_CubLog` has to inject code into binary, which might affect performance
3. Thrust uses a `THRUST_DEBUG_SYNC `

[2022-07-08 17:34] allisonvacanti commented on #525
I strongly support this. It would address several issues we've had with these flags, especially with the CDP changes introduced in CTK 11.6. Having a CI build running with the extra assertions would also add a significant boost to our testing!

It may be useful to introduce a debug level that just prints the debug info without syncing, something like:

[code]

Re: `static_assert`ing in the `Device

[2022-07-08 18:46] allisonvacanti commented on #525
Another question this opens up is how we expose this in Thrust. We currently have the `THRUST_DEBUG_SYNC` macro, would we add the others, or drop the Thrust macro and just use the CUB ones for simplicity's sake? Or just keep the existing Thrust macro for legacy's sake, but don't expose the new ones?

On one hand, the logging/syncing stuff is completely in the realm of CUB. These describe kernel la

[2022-07-08 20:47] senior-zero commented on #525
1. separation of log and sync - this is a great idea, I agree
2. `CUB_IGNORE_DEPRECATED_RUNTIME_DEBUG_SYNC` also a good catch, if someone is using a third-party header only library, the'll be able to affect the error
3. `THRUST_DEBUG_SYNC` - I'd prefer to keep `THRUST_DEBUG_SYNC` and define a proper CUB macro based on it. If thrust assertions has to be checked, we have to introduce `THRUST_DEBUG_A

[2022-07-10 00:30] bhack commented on #471
Is `HistogramEven` currently deterministic or not?

[2022-07-11 16:46] senior-zero commented on #525
A few details that arose:
1. We'd like to introduce `CUB_DEBUG_DEVICE_ASSERTIONS` in compliment to `CUB_DEBUG_{HOST_?}ASSERTIONS` to distinguish between precondition checks on the host and device.
2. We'd like to select a default for `CUB_DEBUG_ASSERTIONS` based on `NDEBUG` but have a way to opt it out
3. We'll only provide a way to opt in `CUB_DEBUG_DEVICE_ASSERTIONS`. Device-side assertions are

[2022-07-12 17:07] cctry opened #526 "Support more generic scan_op in device_scan"
Will cub support using more generic scan_op such as `T1 operator()(T1 &a, T2 &b)` ? The use case is to scan on an array of structs and calculate based on structs' members.
Is there any suggestion on implementing such a primitive?

[2022-07-13 16:22] elstehle commented on #526
A common pattern to resolve the situation you are describing is to use a [`cub::TransformInputIterator`](https://nvlabs.github.io/cub/classcub_1_1_transform_input_iterator.html) and/or [`thrust::transform_output_iterator`](https://thrust.github.io/doc/classthrust_1_1transform__output__iterator.html). If you're able to provide more details of what exactly you're trying to achieve, we may be able to

[2022-07-18 08:08] senior-zero opened #530 "Actualize nvhpc configuration"
Per @dkolsen-pgi [comment](https://github.com/NVIDIA/cub/pull/528#issuecomment-1185706011) we should stop treating `.cu` files as `.cpp` ones and use `-cuda` instead of `-stdpar + -gpu=nomanaged`.

[2022-07-19 19:14] allisonvacanti opened #532 "Unguarded call to CUDART API from `__host__ __device__` function `cub::Debug`"
@federico-busato reported that `cub::Debug` is calling `cudaGetLastError` from a `__host__ __device__` function (`util_debug.:72`).

We should only be calling this (a) on host (using `NV_IF_TARGET`), and (b) on device when RDC is enabled (guarded with `CUB_RDC_ENABLED`).

It'd also be nice to figure out why this hasn't been a problem during testing. Seems like NVCC should be yelling at us for this

[2022-07-19 19:14] allisonvacanti commented on #532
@senior-zero Can you take a look at this as part of your debug_sync refactor?

[2022-07-19 19:17] allisonvacanti commented on #532
Since we can't put `#ifdef` checks inside of `NV_IF_TARGET`, we'll need to use a temporary macro to make this happen (see [this code](https://github.com/NVIDIA/cub/blob/7e4331b278559ad0b79220b894624f58fa468c8b/cub/device/dispatch/dispatch_segmented_sort.cuh#L1581-L1671) for a similar example).

[2022-07-19 19:33] #525 closed

[2022-07-19 22:29] #485 closed

[2022-07-20 22:08] #532 closed

[2022-07-25 16:39] senior-zero commented on #238
All of the mentioned PRs were merged, closing the issue. Let us know if there is any algorithm without document its in-place guarantees.

[2022-07-25 16:39] #238 closed

[2022-07-25 21:35] allisonvacanti commented on #522
Agreed, this does sound like a reasonable option. We'd need to default to using the RDC state, but provide an opt-out for CDP support.

[2022-07-25 21:36] allisonvacanti commented on #522
Bumping priority after taking a closer look at this:

[code]

😬

[2022-07-25 21:58] allisonvacanti commented on #471
Yes, assuming that your histogram output is an integral type that is either unsigned or won't overflow at runtime.

[2022-07-25 22:10] allisonvacanti commented on #526
Closing as @elstehle's answer will work currently, and @senior-zero covered a future improvement in this area. Let us know if you have any other questions about this.

[2022-07-25 22:10] #526 closed

[2022-07-25 22:51] #517 closed

[2022-07-26 00:51] #279 closed

[2022-07-26 00:51] #482 closed

[2022-07-27 17:37] #530 closed

[2022-07-27 23:45] senior-zero opened #539 "Refine fallback kernel for segmented sort"
Currently, `cub::DeviceSegmentedSort` has a fallback kernel, that [apply](https://github.com/NVIDIA/cub/blob/0430cc0bfcb7c2496b42da754c215c9b5df8856b/cub/device/dispatch/dispatch_segmented_sort.cuh#L169) different algorithms for different segment sizes. In particular, medium-size segments are sorted by merge sort. If segment doesn't fit into registers, it's sorted by in-shared-memory block radix s

[2022-07-27 23:52] luitjens commented on #539
Here is analysis that kicked up this issue:

TEMS_PER_MEDIUM_THREAD impacts performance in a couple of ways.
1)  if problem size is less than WARP_SIZE * ITEMS_PER_MEDIUM_THREAD the algorithm uses a register based merge sort algorithm.
	Once we exceed that we switch to the large policy.  At the current thresholds it seems like we might switch too early.
	For example you see a huge jump when we cro

[2022-08-01 20:26] senior-zero opened #540 "Bump minimal supported NVHPC version"
We currently require NVC++ 20.9+. The tests fail to compile with this version for a while. I suggest we bump nvhpc version to 22.3 as part of 2.0 release.

[2022-08-02 21:02] brycelelbach commented on #540
That sounds fine.

[2022-08-03 06:57] michaelmigliore opened #541 "SpMV with different matrix and vector types"
Right now, the SpMV kernel allows to specify the matrix and vector type by specializing the `ValueT` type.

In our case, our sparse matrix elements is stored in CRS format and the blocks are 3x3 matrices, and our vector elements are vector3.
In practice, the 3x3 blocks are 3 `float4`, and the vector3 is a `float4`, and we have defined the multiplication operator.

Do you think it's possible to sep

[2022-08-03 14:24] allisonvacanti commented on #540
We discussed this a bit more offline, and will just remove the reference to nvhpc. We do not support users leveraging nvc++ as a CUDA compiler for Thrust/CUB.

[2022-08-03 16:12] senior-zero commented on #428
Relevant changes were merged in the following PRs:
- https://github.com/NVIDIA/cub/pull/511
- https://github.com/NVIDIA/cub/pull/509

[2022-08-03 16:12] #428 closed

[2022-08-04 19:32] #540 closed

[2022-08-04 23:00] jrhemstad commented on #212
I just happened to be re-reviewing this issue and noticed this.

We should be very careful about forcing things to unsigned. Using unsigned types for loops/indexing can impact performance as the compiler isn't usually able to unroll a loop that uses an unsigned loop variable as it has to allow for the unsigned type to overflow whereas it can assume a signed type will not overflow.

[2022-08-05 10:43] senior-zero opened #544 "Deprecate `cub::DeviceSpmv`"
The `cub::DeviceSpmv` was unmaintained for a while and probably contain [bugs](https://github.com/NVIDIA/cub/pull/352#discussion_r680580812). Moreover, there are better implementations in specialized libraries like cuSPARSE. I suggest we deprecate it.

[2022-08-05 10:46] senior-zero commented on #541
Hello, @michaelmigliore! We were posponing `cub::DeviceSpmv` deprecation for a while. At the moment we are going to [deprecate](https://github.com/NVIDIA/cub/issues/544) it in CUB 2.1. Therefore, I don't anticipate any efforts on this facility from our end. Is there any chance you could use cuSPARSE instead?

[2022-08-05 11:36] michaelmigliore commented on #541
Unfortunately it seems like `cusparseSpMV` only supports real types, and not more complicated custom types.

[2022-08-05 17:33] fbusato commented on #541
cuSPARSE SpMV is limited to real and complex data types and doesn't support custom operators. We plan to add JIT LTO to SpMV (similar to SpMMOp) in the future to support this feature. You could also consider `bsrmv`

[2022-08-09 08:26] #353 closed

[2022-08-09 11:22] elstehle opened #545 "Dispatch mechanism may break when any two libraries that use CUB and/thrust have been compiled for different set of GPU architectures"
The following describes a problem observed in more "complex" software projects, where different components (or libraries) use CUB and/or thrust  without [separating CUB and/or thrust through namespace costumisation](https://github.com/NVIDIA/thrust/issues/1401). This issue may be observed when linked libraries include CUB and/or thrust - even if the libraries' dependency on CUB and/or thrust is no

[2022-08-09 13:59] senior-zero commented on #545
My only concern regarding `static` specifier for kernels is that we'll drastically increase binary size:
[code]
I have two TUs that use the same call `kernel<int><<<1, 1>>>();`. When compiled with nvcc the result is the same:
[code]
but when you provide `-rdc` flag:
[code]
So we'll have a kernel per each TU in applications that use CUB. Moreover, I believe that `rdc` is a default for nvc++:
[code]

[2022-08-09 22:23] jrhemstad commented on #545
Let me make sure I'm following what's going on here.

1. `main.cu` and `my_lib.cu` are compiled with different archs and their object files are linked
2. Both `main.cu` and `my_lib.cu` end up compiling `cub::EmptyKernel`
3. `thrust::sort` in `main.cu` invokes `cudaFuncGetAttributes(..., cub::EmptyKernel)`
4. We don't know if the `cub::EmptyKernel`  we're querying comes from `main.o` or `my_lib.o`

[2022-08-10 04:10] jrhemstad commented on #545
This piqued my curiosity and I went far down a rabbit hole.

TL;DR: There is something extremely odd going on here that I don't understand and just making the kernel `static` does *not* fix the issue.

I captured my repro and results so far here: https://github.com/jrhemstad/cuda_arch_odr

[2022-08-10 04:32] elstehle commented on #545
That's exactly right.

[2022-08-10 09:34] elstehle commented on #545
Thanks for the reproducer and summarising the results. This highlights that we want to be careful and thoroughly verify whichever solution we should identify as a candidate.

In the case of your repro, my believe that `test()` needs to have internal linkage too.

Otherwise - and for simplicity, let's assume `kernel` has internal linkage - we'll have two `test()` symbols, one from `a.cu` (which onl

[2022-08-10 14:43] robertmaynard commented on #545
If you add `-cudart shared` to the link lines you also get a different set of results.

| Works? |  Linker | kernel() annotation | test()  | test() anon namespace |
|:------:|:-------:|:-------------------:|:-------:|:---------------------:|
|        |  Static |                     |  static |           N           |
|        |  Static |                     |  inline |           N           |
|

[2022-08-10 20:23] #479 closed

[2022-08-10 20:23] #489 closed

[2022-08-13 10:51] upsj opened #548 "Implementing reduction for non-commutative operations"
I'd like to investigate implementing a reduction for associative, but non-commutative operations. Related to https://github.com/NVIDIA/thrust/issues/1434

The need for this kind of algorithm comes in handy when establishing the global context in parsing a regular language by chunks in parallel, like the token languages for JSON, CSV etc. in cuDF. In a smaller scale, it can also be used to parse di

[2022-08-13 11:04] upsj commented on #548
Now that I think of it, it might even make sense to reuse all the DeviceReduce infrastructure and only swap out/specialize the agent?

[2022-08-13 12:25] senior-zero commented on #548
Hello @upsj! A few ideas on this:
- You could add `BlockLoadAlgorithm` as a template parameter to `AgentReducePolicy `
- I wouldn't advice to use `LoadDirectBlocked` in this context. Current tuning has something like 20 items per thread. Loading 20 items by each thread with this stride wouldn't utilize the memory system efficiently. Instead, experimenting with actual block load facilities might be

[2022-08-17 10:19] Snektron opened #552 "BlockRadixRankMatch produces invalid results when warp size does not divide block size"
As the title suggests, when the device warp size does not divide the block size exactly `BlockRadixRankMatch` may produce invalid results. This seems to be because this algorithm uses warp-level instructions which do not take the actual launch bounds into account. In specific, this call to the match.any emulation also returns set bits for lanes that do not participate in the warp:

https://github.

[2022-08-17 14:15] senior-zero commented on #552
@Snektron thank you for reporting this! You are right, the issue is in the `MatchAny`. Here's a translation of this function into C++ "language":

[code]

Apparently, exited threads don't set the flag. After the ballot, we think that zero in the mask indicates that thread has predicate evaluated to false. When the mask is reverted for threads that have `BIT` unset, these threads appear as having u

[2022-08-19 11:22] upsj commented on #548
Thanks for your input, I think that gave me everything I need for the first steps. On top of the BlockLoadAlgorithm, I need to add an `init` parameter to the agent, because for incomplete tiles, generically determining which loaded elements to include in the ThreadReduce seems difficult, passing `init` as the OOB element seems safer and simpler. Also, vectorization will probably need to happen in

[2022-08-19 13:57] jrhemstad opened #556 "[DISCUSSION] Alternative solution for determining compute capability at runtime"
## Current Situation

As discussed in https://github.com/NVIDIA/cub/issues/545, CUB needs to query the current device's compute capability in order to know which tuning policy to use for launching the kernel.

Currently, CUB does this by using  [`cudaFuncGetAttributes`](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__EXECUTION.html#group__CUDART__EXECUTION_1g19b1696533069c03f646e2ce2b

[2022-08-19 17:09] allisonvacanti commented on #556
Just to make it more explicit -- the main difference between these approaches is that `cudaFuncGetAttributes` tells us which available PTX target will be used on the current device, while `cudaDeviceGetAttribute` will return the SM architecture of the device. As you mention, we can use the list of target architectures (eg. `__CUDA_ARCH_LIST__` on nvcc) with this information to figure out which PTX

[2022-08-22 21:42] chengscott opened #557 "Wrong Image"
https://github.com/nvidia/cub/blob/main/cub/block/block_reduce.cuh#L135
the image is for block_scan

[2022-08-25 08:51] senior-zero opened #560 "Use libcu++ atomics in CUB"
There were a couple of issues related to the fact that CUB doesn't use atomic abstractions internally: [1](https://github.com/NVIDIA/cub/issues/345), [2](https://github.com/NVIDIA/cub/issues/356). Atomics usage would allow us to update code like:
[code]

Technically, there's no issue at the moment, but using libcu++ atomics would:
1) improve readability - explicit memory ordering guarantee communi

[2022-08-25 08:53] senior-zero commented on #356
Created a separate [issue](https://github.com/NVIDIA/cub/issues/560) to track migration to libcu++ atomics. Closing this one. @AKKamath if there are any action items that I missed, please, feel free to reopen.

[2022-08-25 08:53] #356 closed

[2022-08-25 16:43] allisonvacanti commented on #560
I believe this is a duplicate of #227.

This was the blocker for switching to `cuda::std::atomic`. We could potentially switch to `cuda::std::atomic_ref` now that it's available, but would need to fallback to legacy atomics on older arches.

[2022-08-26 04:03] hlq1025 opened #561 "thrust cuda kernel launch"
@dkolsen-pgi  Hi, I noticed that this commit is a bug fix. could you explain about the bufg in detail.Thanks. https://github.com/NVIDIA/cub/commit/35e4f6982809a9caa4493c8169e71925b4d69d03,

[2022-08-26 04:12] senior-zero commented on #560
@allisonvacanti thanks, I've missed that issue! I'll close this one.

Minimal arch is inherited by `cuda::std::atomic_ref` as well, so there seems to be no difference between it and `cuda::std::atomic`.

I don't think there are legacy atomics for loads/stores with qualifiers. Do you mean inline PTX? In any case, I think it would be preferable to understand what is particularly limiting `cuda::std:

[2022-08-26 04:12] #560 closed

[2022-08-26 04:36] dkolsen-pgi commented on #561
It was not a bug fix.  That commit was one small part of the work necessary to enable running standard C++ parallel algorithms on GPUs with the NVC++ compiler.

[2022-08-26 04:36] #561 closed

[2022-08-26 17:39] allisonvacanti commented on #560
The reason we were waiting for `atomic_ref` vs `atomic` was to simplify the code divergence between pre-sm60 and post-sm60. `atomic` would require changing the type of the atomic variables, while `atomic_ref` only modifies the callsite of the atomics. It's far less invasive and more compatible with if-target to use `atomic_ref` instead of `atomic<T>` with the legacy fallbacks for older arches.

Th

[2022-09-01 13:42] senior-zero opened #566 "Fix or hide `BlockRadixRank` and friends"
Currently, we have a set of block radix rank facilities:
- `BlockRadixRank`
- `BlockRadixRankMatch`
- `BlockRadixRankMatchEarlyCounts`

There's also a `enum BlockScanAlgorithm` that describes the differences between these algorithms. Unlike the rest of CUB facilities, `BlockRadixRank*` don't follow the common pattern of accepting `BlockScanAlgorithm` as a template parameter. Ideally, there'll be o

[2022-09-01 13:58] senior-zero opened #567 "Fix `BlockRadixRankMatchEarlyCounts` or constrain it"
Currently, `BlockRadixRankMatchEarlyCounts` doesn't work in some specific cases `(1 << RADIX_BITS) % WARP_THREADS != 0`. This use case should be addressed or the structure has to be complemented with a static assert that validates template arguments. To make the structure conforming, we might as well provide `BlockDimY` and `BlockDimZ` template parameters.

[2022-09-02 04:49] #552 closed

[2022-09-03 06:39] #545 closed

[2022-09-03 06:52] senior-zero opened #569 "New indirection level for launch bounds"
Specifying `__launch_bounds__` in the presence of RDC has proven to be troublesome and unreliable. We have to abstract it out so that launch bounds are not specified when RDC is enabled.

[2022-09-05 21:40] dkolsen-pgi commented on #569
NVBugs 3720703 and 3384810.

[2022-09-13 06:37] senior-zero opened #575 "Merge sort key type selection"
Before porting to CUB, Thrust implementation of merge sort didn't use to have `*copy` version. When introducing `Copy` overload, I followed the CUB generic scheme of selecting output iterator value type. After that, we changed type selection for most algorithms so it no longer follows these scheme. Merge sort implementation, however, wasn't changed. This leads to compilation failures in some cases

[2022-09-13 06:39] harrism commented on #575
Note that `trajectory_comparator` in that code is unused -- I copied it in by mistake.

[2022-09-13 06:40] harrism commented on #575
BTW, in this example it's not the key type selection that fails, it's the value type.

[2022-09-15 17:48] chenxuhao commented on #327
Hi @senior-zero I am super interested in sorting arbitrary input sizes. Is this available now?

[2022-09-15 18:02] senior-zero commented on #327
Hello, @chenxuhao! The facility exists as an agent, not a block-scope API so the usage is a bit involved. Please, take a look at the following [comment](https://github.com/NVIDIA/cub/issues/292#issuecomment-905333004).

[2022-09-17 17:29] chenxuhao commented on #327
Than you so much for the link. In oder to use this agent, I have to set the type SegmentedPolicyT or ChainedPolicyT, which I have no idea how to do. Is there any example that I can follow? Thanks.

[2022-09-17 19:19] chenxuhao commented on #292
this will be very much appreciated. Currently the agent implementation is a bit too complicated to use.

[2022-09-19 10:02] senior-zero commented on #327
@chenxuhao I don't think it's quite correct. Below is the fixed version. The double buffer is needed, currently there's no in-place version.

[code]

[2022-09-19 20:05] chenxuhao commented on #327
Thank you so much for the help. This works for me: https://github.com/chenxuhao/GraphAIBench/blob/0994186674e39443b39939c3d6356aa690052eb4/include/sort.cuh#L37

Also, I wonder if it is possible to create a similar routine like warp_sort which does warp-wise sorting instead of cta-wise?

[2022-09-19 20:49] chenxuhao commented on #292
thanks a lot!

[2022-10-07 15:59] chenxuhao commented on #292
Also, I wonder if it is possible to create a similar routine like warp_sort which does warp-wise sorting instead of cta-wise? Basically, each warp works on sorting its own array.

If this is not currently available in CUB, then I suppose what I have to do is to create an Agent that does this warp-wise?

[2022-10-14 14:11] krzikalla opened #580 "Lot of conversion warnings, if compiled with -Wconversion"
E.g.
[code]
No surprise, since arithmetic operations use always `int` at least.
Due to the macro expansion there is a huge amount of such warnings.

[2022-10-14 14:14] krzikalla opened #581 "cub::BlockReduce can't be instantiatied with BLOCK_DIM_X==1"
[code]
doesn't compile.

[2022-10-24 06:57] senior-zero commented on #580
@krzikalla, thank you for reporting this! It's a known [issue](https://github.com/NVIDIA/thrust/issues/1478).
I can verify a lot of warnings are reported when building standalone CUB with `-Wconversion`.

[2022-10-24 07:13] senior-zero commented on #581
Hello, @krzikalla! Thank you for reporting this. We've recently [fixed](https://github.com/NVIDIA/cub/pull/516) similar issue for `cub::WarpReduce`. As I can see, the issue happens only when there is only a single thread in the thread block. In other words, the following versions get compiled successfully:
[code]
Is there any change you can use `cub::WarpReduce` instead of `cub::BlockReduce` as a

[2022-10-25 23:05] milthorpe opened #584 "Support reduce and scan for more than 2^31 items"
`cub::DeviceReduce` and `cub::DeviceScan` specify the input size as `int num_items`, which limits reductions/scans to 2^31-1 items. Other CUB functions have the type of the number of items as a template parameter e.g. `cub::DeviceRadixSort` accepts `NumItemsT num_items`.

The `num_items` parameter should be replaced with a templated parameter `NumItemsT num_items` for both `cub::DeviceReduce` and

[2022-10-25 23:06] milthorpe commented on #584
I'd be happy to work on a patch for this if the CUB developers think the proposed change would be acceptable.

[2022-11-01 19:13] #522 closed

[2022-11-01 21:00] senior-zero commented on #584
Hello, @milthorpe!

Thank you for offering help!
I've just filed a [PR](https://github.com/NVIDIA/cub/pull/589) that illustrates what we expect from patches that introduce > 2^31 items support into our device algorithms. If you'd like, you can start looking into scan as soon as the PR is merged. Alternatively, you can wait till we prioritize this work, it's definitely on our list.

[2022-11-15 07:07] PanZaifeng opened #591 "Question: how lookback used in scan avoid loading stale data in L1 cache?"
I got confused when reading the code in `agent/single_pass_scan_operators.cuh`.
There is one block that stores the tile data and then updates the status in `SetInclusive` and `SetPartial`:

[code]

Another block waits for the status becomes valid and then loads the tile data in `WaitForValid`:
[code]

I think the code above is unsafe, as the `value` loaded from `d_tile_partial` or `d_tile_inclusiv

[2022-11-15 17:44] senior-zero commented on #591
Hello, @PanZaifeng!

As you can notice, there's a `__threadfence` between setting the data and setting the flag. On the other side, there's a `__threadfence()` between reading the flag and reading the data. Memory fences ensure that the memory is actually read and written without reordering or caching. In the PTX doc you referred to, there's a [8.8. Release and Acquire Patterns](https://docs.nvidi

[2022-11-15 23:01] senior-zero opened #593 "Support for negative segment sizes"
In our segmented reduce we state:

In our segmented sort and segmented radix sort we state the same thing.

While in the segmented reduce implementation, we check that:
[code]
to recognize empty segments. I don't think we test for negative segment sizes.

I suggest we decide if we want to support negative offsets and then add necessary tests / fixes, or we change the docs.

[2022-11-16 02:44] PanZaifeng commented on #591
Thanks for your reply @senior-zero.

Does this means that the L1 cache is flushed or updated after `__threadfence()`?

[CUDA programming guide B.5](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#memory-fence-functions) mentions that

If fence function can affect the cache, what does the "visible" here means? Can we only use fence functions here to ensure the correctness, without

[2022-11-16 08:45] miscco commented on #593
I am abhorred by the thought of someone passing a negative size intentionally, but it might happen accidentally due to some integer shenanigance.

So generally I would always prefer to defensively check `<=` rather than `==` for a lower boundary.

I just recently had a discussion about this in some cursed string function where it was an actual bug

[2022-11-16 09:41] senior-zero commented on #593
@miscco, I agree and also think that it's safer to fix the code than to fix the docs and let people find out that their code is silently broken.

[2022-11-19 17:25] senior-zero commented on #591
It happened that I had misconceptions about thread fences and weak memory operations. Your concern is valid. Thank you for reporting it! We shouldn't rely on CG hint here. We'll fix this at our earliest capacity. Please let us know if you find other instances of this, we’d like to fix those as well.

[2022-11-21 18:40] davidwendt opened #594 "Invalid result from DeviceSegmentedSort::SortPairs/SortKeys when keys are bool type"
If the keys parameter is type `bool` then `DeviceSegmentedSort::SortPairs` and `DeviceSegmentedSort::SortKeys` return invalid results. The following example reproduces the error consistently. The error occurs with `SortKeys` as well but is easier to see with `SortPairs`

[code]

The error consistently occurs at position 33 in the indices/result vector. The value itself is random. The values after

[2022-11-21 19:53] ttnghia commented on #594
CC myself to subscibe the issue.

[2022-11-21 21:24] senior-zero commented on #594
@davidwendt thank you for reporting the issue! I can reproduce it. We haven't tested bool type for keys. I guess the issue can be addressed if we do something like:
[code]
in the `AgentSubWarpSort::BinaryOpT`. I'll create a PR with the fix and additional tests soon. Meanwhile you could reinterpret cast your `bool*` to be `std::uint8_t*`, or use this type in the first place.

[2022-11-21 21:27] davidwendt commented on #594
I made this change to the `oob_default` declaration that seemed to work
[code]
Perhaps `Traits<bool>` can be specialized and set with `LOWEST_KEY=false` and `MAX_KEY=true`

[2022-11-23 06:59] #594 closed

[2022-11-24 11:14] kshitij12345 opened #596 "DeviceRunLengthEncode returns incorrect result with `nan`."
Reproducer snippet:
[code]

[2022-11-24 15:03] elstehle commented on #596
Thanks for reporting the issue, @kshitij12345! I was able to reproduce this and will investigate this further.

[2022-11-24 19:38] Nyrio commented on #192
Any update on this? I get a similar compilation error when I try to use the histogram with `int64_t` offsets:

[code]

[2022-11-30 14:18] #596 closed